body {
    background-image: url('bgimageland.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(3px);
    
  }  
.info{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
}
h1{ 
    text-align: center;
    font-family: serif;
    color: #ffffff;
    font-size: 70px;
    font-family: "Rubik Dirt", serif;
    font-weight: 400;
    font-style: normal;
}  
  .photo {
    width:170px;
    height:250px;
    text-align: center;
    position: relative;
    padding: 15px;
    border-radius: 25px;
    transition: box-shadow 3s ease;
    background-color: rgb(40, 1, 46);
  }
  @property --angle{
    syntax:"<angle>";
    initial-value:0deg;
    inherits: false;

  }
  .photo::after, .photo::before{
    --angle:0deg;
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background-image: conic-gradient(from var(--angle),transparent 50%,rgb(136, 73, 146));
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 25px;
    animation:3s spin linear infinite;
  }
  .photo::before{
    filter:blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
--angle:0deg;
    }
    to{
--angle:360deg;
    }
  }
  
  .photo p{
    color:#ffffff; transition: 1s ease;
  }
  .box:hover {
    transform: scale(1.05);
    transition: 1s ease;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.7);
  }
 
  
  .imagecir img {
    width:150px;
    height:150px;
    border:3px solid rgb(255, 255, 255);
    border-radius: 50%;
  }
  .imagecir{
    position:relative;
    width:155px;
    height:155px;
    background:white;
    border-radius:50%;
    overflow:hidden
  }
  .animate{
    height:100%;
    width:100%;
    background-color:rgb(255, 255, 255);;
    position:relative;
    z-index:99;
    overflow: hidden;
  }
  .imagecir img::after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)rotate(45deg);
    height:600px;
    background-color:white;
  }
  @keyframes move{
    100%{
      transform:translate(-50%,-50%) rotate(225deg);
      animation:move 1.5s in;
      
    }
  }
  .box:hover::before{
    inset: -20px 0px;

  }
  .name {
    font-size:23px;
 font-family:'Times New Roman', Times, serif;
    margin: 10px 0 0;
    position: relative;
  }
  
  .line {
    width:150px;
    height: 2px;
    background: #cdc4c4;
    margin: 8px auto;
  }
  
  .post {
    font-size: 16px;
    color: #5b5353;
    margin: 10px 0 0;   
  }
  
  footer{
    width:100%;
    height:50px;
  }
 
  @keyframes appear{
    from{
        opacity:0;
        scale:0.5;
    }
    to {
        opacity:1;
        scale:1;
    }
  }
  .box{
    animation: appear linear;
    animation-timeline: view();
    animation-range:entry 0;
  }
  
@keyframes move {
    100%{
        transform:translate(-50%,-50%) rotate(300deg);
    }
    
}